.hide_el {
    display: none;
}

.text-brown {
    color: #461e0d !important;
}

.diamond-background {
    background-image: url('./media/diamond-background.svg');
}

.text-grey {
    color: #77838f !important;
}

.mobile__only {
    display: none;
}

.change__button {
    border: none;
    outline: none;
    background: none;
    color: #ed1c24;
    transition: .2s ease-in-out;
}

.brown-hover:hover {
    color: #461e0d;
}

.red-hover:hover {
    color: #ed1c24 !important;
}

.change__button:focus {
    border: none;
    outline: none;
}

.background-img--wrapper {
    background-image: url('./media/background-hero-img-desktop.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
}

.header-section.no-background__modifier {
    background-color: transparent;
    color: #fff;
}

.header-section.no-background__modifier .nav-link {
    color: #fff;
}

.booking-details__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    top: -70px;
}

.stylist__image {
    position: relative;
}

.tooltip__wrapper {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip__wrapper .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #461e0d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: .9em;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip__wrapper:hover .tooltiptext {
    visibility: visible;
}

.appointment-details-service__single {
    position: relative;
}

.service-name__wrapper img {
    width: 30px;
    height: 28px;
    padding-left: 8px;
}

.appointment-details__wrapper {
    width: 65%;
    align-self: flex-start;
}

.service-summary__wrapper {
    width: 32%;
}

.appointment-details__service .d-flex {
    justify-content: space-between;
    align-items: center;
}

.appoinment-details__time .d-flex {
    justify-content: space-between;
}

.appoinment-details__time input {
    flex-direction: row;
    height: 57px;
    padding: 0 12px;
}

.appoinment-details__time .date-selector,
.appoinment-details__time .time-selector {
    width: 48%;
}

.book__later {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    text-align: center;
}

.date-selector input::-webkit-calendar-picker-indicator {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    background: white;
    color: #ed1c24;
}

.time-selector input::-webkit-calendar-picker-indicator {
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    background: white;
    color: #ed1c24;
}


/***** Modals **/

.modal__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .97);
    z-index: 9999;
    background-image: url('./media/diamond-background.svg');
    background-position: center top;
    background-repeat: repeat;
    background-size: 450px;
    height: 110vh;
}

.modal__wrapper .container {
    position: relative;
}

.close__modal {
    position: absolute;
    right: -60px;
    top: 40px;
    z-index: 999;
    width: 10px;
    height: 10px;
    background-color: red;
}

.progress-bar__content {
    height: 2px;
}

.progress-bar {
    height: 2px;
    width: 100%;
    background: rgba(103, 119, 136, .5);
    position: relative;
    margin-bottom: 25px;
}

.progress-bar_fill {
    background-color: red;
    position: absolute;
    height: 4px;
    width: 40%;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

.active__step p {
    color: #ed1c24;
    font-weight: 700;
}

.progress__img {
    position: absolute;
    top: 143px;
    width: 55px;
    height: 55px;
}

.first-step .progress__img {
    left: 40%;
}

.second-step .progress__img {
    left: 72%;
}

.third-step .progress__img {
    left: 92%;
}

.selected-stylist__name {
    padding-left: 25px;
    font-weight: 300;
}

.completed__step p,
.completed__step small {
    opacity: .6;
}

.completed__step p::after {
    content: "\f058";
    font-weight: 900;
    font-family: "FontAwesome";
    padding-left: 8px;
}

.progress-bar__mobile .first-step .progress__img {
    left: 32%;
}

.progress-bar__mobile .progress__img {
    top: 159px;
    width: 40px;
}

.progress-bar__mobile .third-step .progress__img {
    left: 88%;
}


/***** Media **/

@media only screen and (max-width: 991px) {
    .desktop__only {
        display: none;
    }
    .mobile__only {
        display: block;
    }
    .background-img--wrapper {
        background: none;
    }
    .hero-text__wrapper {
        padding: 30px 0 !important;
    }
    .hero-text__wrapper h1 {
        color: #461e0d !important;
        font-size: 1.3em;
        margin-bottom: 15px !important;
    }
    .service-summary__wrapper h2 {
        display: none;
    }
    .service-summary__wrapper .border-bottom {
        display: none;
    }
    .hero-text__wrapper p {
        color: transparent !important;
        font-size: 0;
        padding-bottom: 15px !important;
    }
    .hero-text__wrapper p::after {
        content: 'Review & confirm your appointment below';
        font-size: 14px;
        color: #77838f;
    }
    .booking-details__wrapper {
        flex-wrap: wrap;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
        border-radius: .75rem;
        background-color: #fff;
        padding: 2.25rem 2rem;
        top: -40px;
    }
    .appointment-details__wrapper,
    .service-summary__wrapper {
        width: 100%;
    }
    .service-summary__wrapper .card,
    .appointment-details__wrapper {
        box-shadow: none;
        padding: 0 !important;
        margin: 0;
        background: none;
    }
    .service-summary__wrapper .media {
        display: none;
    }
    .service-summary__wrapper .pb-4 {
        margin: 0 !important;
        padding: 0 !important;
    }
    .service-summary__wrapper .form-group {
        border: none !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
        border-radius: 5px;
    }
    .service-summary__wrapper .form-group textarea {
        border: none !important;
    }
    .appointment-details__stylist h3 {
        color: #fff;
        font-size: 0px;
        position: absolute;
        top: -50px;
        right: 0;
        left: 0;
        text-align: center;
        border-bottom: none !important;
    }
    .appointment-details__stylist h3::after {
        content: 'Want the usual?';
        font-size: 20px;
        color: #461e0d;
    }
    #shopCartAccordion {
        border-bottom: 0.0625rem solid #e7eaf3;
        padding-bottom: 15px !important;
        border-radius: 0;
    }
    #shopCartAccordion .card {
        border: 1px solid #e7eaea;
        border-radius: 10px;
    }
    .navbar-brand img {
        display: none;
    }
    .navbar-brand {
        background: url("./media/mobile_logo.svg");
        width: 112px;
        height: 28px;
    }
    #booking-form>div {
        padding: 0 !important;
    }
    .booking-details__wrapper .mb-4,
    .my-4 {
        margin-bottom: 15px !important;
    }
    .appoinment-details__time input {
        height: 39px;
    }
    .tooltip__wrapper .tooltiptext {
        left: -90px;
        bottom: -90px;
    }
    /* modals */
    .progress-steps {
        padding: 0 .5em;
    }
}

@media only screen and (max-width: 490px) {
    .stylist-name,
    .appointment-details__location,
    .appointment-details__service,
    .appoinment-details__time,
    .promo-code__wrapper a {
        font-size: 14px;
    }
    .change-stylist__button,
    .change-location__button {
        font-size: 0 !important;
    }
    .change-stylist__button::after {
        content: '(edit)';
        font-size: 14px;
    }
    .change-location__button::after {
        content: '(edit)';
        font-size: 14px !important;
    }
    .book__later {
        bottom: -125px;
    }
    .appointment-details-service__single .change__button {
        position: absolute;
        right: 0;
        bottom: 8px;
        padding: 0;
    }
}